
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<ul style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
	<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;"><a href="carpart_houtai.php?model=carpart">配件</a></li>
	<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;"><a href="carpart_houtai.php?model=carpart_cartype_relation">配件车型对应关系</a></li>
	<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;"><a href="carpart_houtai.php?model=carpart_homo_relation">同质件关系</a></li>
	<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;"><a href="carpart_houtai.php?model=cartype">车型</a></li>
</ul>