<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/region.js"}
<div class="main-div">
<form method="post" action="store_manage.php" name="theForm"  onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  

  <tr>
    <td class="label"><span style='color:red'>*</span>{$lang.store_set_rebate_rebate}</td>
    <td>
	<input type="text" name="rebate" id="rebate" value="{$info.rebate}">%<br>
	<span>例如：90%。则该仓的代理佣金 = 标准代理佣金 X 90%</span>
	</td>
  </tr>
  <tr>
  <td class="label"><span style='color:red'>*</span>{$lang.store_set_rebate_store_rebate_paytime}</td>
  <td>
		<select size="1" name="store_rebate_paytime">
			<option value="0" selected>请选择</option>
			{foreach from=$paytime item=payname key=key}
			<option value="{$key}" {if $info.store_rebate_paytime eq $key} selected {/if}>{$payname}</option>
			{/foreach}
		</select>
  </td>
  </tr>
  <tr>
    <td class="label"><span style='color:red'>*</span>{$lang.store_set_rebate_company}</td>
    <td valign=top >
	<input type="text" name="company" id="company" value="{$info.company}">
	</td>
  </tr>
  <tr>
    <td class="label"><span style='color:red'>*</span>{$lang.store_set_rebate_adress1}</td>
    <td valign=top >
		<select name="country" id="selCountries" onchange="region.changed(this, 1, 'selProvinces')">
                <option value="0">请选择</option>
                {foreach from=$country_list item=country}
                <option value="{$country.region_id}" {if $info.country eq $country.region_id}selected{/if}>{$country.region_name}</option>
                {/foreach}
              </select>
              <select name="province" id="selProvinces" onchange="region.changed(this, 2, 'selCities')">
                <option value="0">请选择</option>
                {foreach from=$province_list item=province}
                <option value="{$province.region_id}" {if $info.province eq $province.region_id}selected{/if}>{$province.region_name}</option>
                {/foreach}
              </select>
              <select name="city" id="selCities" onchange="region.changed(this, 3, 'selDistricts')">
                <option value="0">请选择</option>
                {foreach from=$city_list item=city}
                <option value="{$city.region_id}" {if $info.city eq $city.region_id}selected{/if}>{$city.region_name}</option>
                {/foreach}
              </select>
              <select name="district" id="selDistricts" {if !$district_list}style="display:none"{/if}>
                <option value="0">请选择</option>
                {foreach from=$district_list item=district}
                <option value="{$district.region_id}" {if $info.district eq $district.region_id}selected{/if}>{$district.region_name}</option>
                {/foreach}
        </select>
	</td>
  </tr>
  <tr>
    <td class="label"><span style='color:red'>*</span>{$lang.store_set_rebate_adress2}</td>
    <td valign=top >
	<input type="text" name="address" id="address" value="{$info.address}">
	</td>
  </tr>
  <tr>
    <td class="label"><span style='color:red'>*</span>{$lang.store_set_rebate_mobile}</td>
    <td valign=top >
	<input type="text" name="mobile" id="mobile" value="{$info.mobile}">
	</td>
  </tr>
  <tr>
    <td class="label">{$lang.store_set_rebate_bank_name}</td>
    <td valign=top >
	<input type="text" name="bank_name" id="bank_name" value="{$info.bank_name}">
	</td>
  </tr>
  <tr>
    <td class="label">{$lang.store_set_rebate_bank_number}</td>
    <td valign=top >
	<input type="text" name="bank_number" id="bank_number" value="{$info.bank_number}">
	</td>
  </tr>
  <tr>
    <td class="label">{$lang.store_set_rebate_alipay_number}</td>
    <td valign=top >
	<input type="text" name="alipay_number" id="alipay_number" value="{$info.alipay_number}">
	</td>
  </tr>

  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" onclick="document.getElementById('tabzhyh').innerHTML='';" />
      <input type="hidden" name="act" value="{$form_action}" />
	  <input type="hidden" name="store_rebate_id" value="{$info.store_rebate_id}" />
      <input type="hidden" name="store_id" value="{$store_id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
region.isAdmin = true;
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
	/*
    validator = new Validator("theForm");
	var rebate= document.getElementById('rebate').value;
	if(!rebate)
	{
		validator.addErrorMsg(store_set_rebate_error_rebate);
	}
    return validator.passed();*/
}

  function addAdminTel(obj)
  {
	  var tbl  = document.getElementById('tabzhyh');
	  if (obj.checked)
	  {
		  //alert(obj.value);
		  //alert(obj.nextSibling.nodeValue);		   
           var row  = tbl.insertRow();
		   row.setAttribute("id", obj.value);
           var cell1 = row.insertCell(-1);
		   cell1.innerHTML= obj.nextSibling.nodeValue+"&nbsp;<input type='hidden' name='adminname_"+ obj.value +"' value='"+ obj.nextSibling.nodeValue +"' ><input type='text' onfocus=\"if(this.value=='移动电话')this.value='';\" value='移动电话' name='mobile_"+ obj.value +"'>&nbsp;<input type='text' value='固定电话' name='tel_"+ obj.value +"' onfocus=\"if(this.value=='固定电话')this.value='';\">";
	  }
	  else
	  {
			var ok= tbl.getElementsByTagName("tr");
			for(var k=0;k<ok.length;k++)
			{
                if(ok[k].id==obj.value)
				{
					tbl.deleteRow(k);
					//k=k-1;
				}
			}
	  }
  }
//-->
</script>
{/literal}
{include file="pagefooter.htm"}