<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/region.js"}
<div class="main-div">
<form method="post" action="store_manage.php" name="theForm"  onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  

  <tr>
    <td class="label">{$lang.sub_fuzeren}{$lang.require_field}</td>
    <td>
	{foreach from=$admin_list item=admin}
	<input type="checkbox" name="admin_id[]"  {if $admin.checked eq 'checked'}checked=checked{/if} value="{$admin.user_id}" onclick="addAdminTel(this)" > {$admin.user_name}
	{/foreach}
	</td>
  </tr>
  <tr>
    <td class="label">{$lang.sub_contact}</td>
    <td valign=top >
	<table cellpadding=0 cellspacing=0  width="300" id="tabzhyh">
	{if $list_adminer}
	{foreach from= $list_adminer item=adminer_item}
	<tr id="{$adminer_item.admin_id}"><td>{$adminer_item.admin_name}&nbsp;<input type='hidden' name='adminname_{$adminer_item.admin_id}' value='{$adminer_item.admin_name}' ><input type='text' name='mobile_{$adminer_item.admin_id}' id='mobile_{$adminer_item.admin_id}' value="{$adminer_item.mobile}">&nbsp;<input type='text' name='tel_{$adminer_item.admin_id}' value="{$adminer_item.tel}" id='tel_{$adminer_item.admin_id}'></td></tr>
	{/foreach}
	{/if}
	</table>
	</td>
  </tr>

  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" onclick="document.getElementById('tabzhyh').innerHTML='';" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="store_id" value="{$store_id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
region.isAdmin = true;
onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
	var reg = /^[\d|\-|\s]+$/;

    validator = new Validator("theForm");
	var admin_list= document.getElementsByName('admin_id[]');
	var admin_checked=0;
	for(var k=0;k<admin_list.length;k++)
	{
		if (admin_list[k].checked)
		{
			var mobile = document.getElementById('mobile_'+admin_list[k].value);
			if (!checkMobile(mobile.value)){
				validator.addErrorMsg('移动电话号格式不正确');
				mobile.focus();
			}
			var tel = document.getElementById('tel_'+admin_list[k].value);
			if (!reg.test(tel.value) || tel.value.length!=11){
				validator.addErrorMsg('固定电话格式不正确');
				tel.focus();
			}
			admin_checked++;
		}		
	}
	if(!admin_checked)
	{
		validator.addErrorMsg(no_admin);
	}
    return validator.passed();
}

  function addAdminTel(obj)
  {
	  var tbl  = document.getElementById('tabzhyh');
	  if (obj.checked)
	  {
		  //alert(obj.value);
		  //alert(obj.nextSibling.nodeValue);		   
           var row  = tbl.insertRow();
		   row.setAttribute("id", obj.value);
           var cell1 = row.insertCell(-1);
		   cell1.innerHTML= obj.nextSibling.nodeValue+"&nbsp;<input type='hidden' name='adminname_"+ obj.value +"' value='"+ obj.nextSibling.nodeValue +"' ><input type='text' onfocus=\"if(this.value=='移动电话')this.value='';\" value='移动电话' name='mobile_"+ obj.value +"' id='mobile_"+ obj.value +"'>&nbsp;<input type='text' value='固定电话' name='tel_"+ obj.value +"' id='tel_"+ obj.value +"' onfocus=\"if(this.value=='固定电话')this.value='';\">";
	  }
	  else
	  {
			var ok= tbl.getElementsByTagName("tr");
			for(var k=0;k<ok.length;k++)
			{
                if(ok[k].id==obj.value)
				{
					tbl.deleteRow(k);
					//k=k-1;
				}
			}
	  }
	  
  }
//-->
</script>
{/literal}
{include file="pagefooter.htm"}