<div class="form-div">
  <form action="javascript:searchStock()" name="searchForm" >
  <p class="con_top_search">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />  	
	<select name="store_id_out"><option value="0">库房(出)</option>
	{foreach from=$store_list item=out key=kout}
	<option value="{$kout}">{$out}</option>
	{/foreach}
	</select>
	<select name="store_id_in"><option value="0">库房(入)</option>
	{foreach from=$store_list item=in key=kin}
	<option value="{$kin}">{$in}</option>
	{/foreach}
	</select>
	<select name="status"><option value="-1">转拨状态</option>
	{foreach from=$status item=val key=k}
	<option value="{$k}">{$val}</option>
	{/foreach}
	</select>
    </p>
    <p class="con_top_search">
	发货日期<input type="text" name="add_time1" id="add_time1"  readonly="readonly"   /><input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('add_time1', '%Y-%m-%d %H:%M', '24', false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>&nbsp;&nbsp;至&nbsp;&nbsp;<input type="text" name="add_time2" id="add_time2" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('add_time2', '%Y-%m-%d %H:%M', '24', false, 'selbtn2');" value="{$lang.btn_select}" class="button"/>
	<input type="submit" value="{$lang.button_search}" class="button"/>
    </p>
  </form>
</div>